.wp-block-rsf-timeline {
    .craft-timeline {
    .rsf-timeline {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        align-items: flex-start;
        position: relative;
        counter-reset: timeline-counter;

        @media (max-width: 767px) {
            flex-direction: column;
            --timeline-gap: 40px;
            gap: var(--timeline-gap);
        }
    }
}
