.has-featured-image-bg {
    background-image: var(--craft-featured-bg-image) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}